<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title>Portfolio</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <header class="navbar">
  <div class="name">Jonathan Gurr</div>
  <nav>
    <ul class="nav-links">
    <li><a th:href="@{/html/about.html}">About</a></li>
    <li><a th:href="@{/html/projects.html}">Projects</a></li>
    <li><a th:href="@{/html/blog/index.html}">Blog</a></li>
    </ul>
  </nav>
  <div class="contact-icons">
    <span class="logo">Connect:</span>
    <a href="https://github.com/jgolden5" target="_blank">
    <img th:src="@{/images/icons/github.svg}" alt="Github">
    </a>
    <a href="https://linkedin.com/in/jonathan-gurr" target="_blank">
    <img th:src="@{/images/icons/linkedin.svg}" alt="LinkedIn">
    </a>
    <a href="mailto:jgolden5.tech@gmail.com">
    <img th:src="@{/images/icons/email.svg}" alt="Email">
    </a>
  </div>
  </header>
  <img class="full-height" th:src="@{/images/profile_pic_of_me.jpg}" />
</body>
</html>
